
.loading{
    
    margin-top: 20%;
    position: absolute;
    width: 600px;
    height: 10px;
    background: linear-gradient(
        to right,
        transparent,
        rgb(79, 11, 161),
        transparent
    );
    overflow: hidden;
}
.loading::after{
    content: '';
    position: absolute;
    translate: -200px 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(
        to right,
        transparent,
        rgb(0, 0, 0),
        transparent
    );
    animation: some-name 1s infinite;
}
@keyframes some-name {
    100% {
        translate: 500px 0;
    }
}